/*/////////////////////// GRID //////////////////*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: row;
    grid-gap: 32px;
    margin: 32px;
}

/* Ecran à partir de 841px */
@media screen and (min-width: 841px) {

/*///// MENU /////*/

.nav {
    grid-row-start: 1;
    grid-column-end: span 12;
}

/*///// TITRE /////*/

.title{
    grid-row-start: 2;
    grid-column-end: span 12;
    text-align: center;
}

/*///// ACCUEIL /////*/

.header{
    width: 100%;
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-end: span 3;
}

.claim{
    width: 100%;
    height: 11rem;
    grid-row-start: 2;
    grid-column-end: span 6;

}

.hello{
   width: 100%;
    height: 11rem;
    grid-row-start: 2;
    grid-column-start: 10;
    grid-column-end: span 3;
} 

.hobbies{
   width: 100%;
    height: 12.1rem;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: span 4;
}

.profil-pix-bloc{
    width: 100%;
    height: 32rem;
    grid-row-start: 3;
    grid-row-end: span 2;
    grid-column-start: 8;
    grid-column-end: span 5;
}
    
.surprise{
    width: 100%;
    height: 18rem;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 7;
}

/*///// BLOCS PHOTOS PROJETS ////*/
.grid-projet{
    display: inline-grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 28rem));
    margin: auto;
    grid-column: 5/12;
}

.bloc-pix-projet{
    width: 30rem;
    height: 18rem;
}
    

/*///// SEARCH BAR /////*/


.search{
    grid-row-start: 3;
    grid-row-end: span 2;
    grid-column-end: span 3;
}
    
    .search-bloc{
        align-items: center;
    }


/*///// CONTACT ////*/

.bloc-contact{
    position: relative;
    margin : 0;
    grid-row-start: 3;
    grid-row-end: span 4;
    height: 13rem;
    width: 20rem;
}

.phone{
    grid-column: 3;
}

.mail{
    grid-column: 6;
}

.networks{
    grid-column: 9;
}

/*///// FOOTER ////*/
.footer{
    grid-row-start: 5;
    grid-column-end: span 12;
}

.footer-contact{
    grid-row-start:12!important;
    grid-column:1/span11!important;
    margin-top: 10rem;
}
    
}


@media screen and (max-width: 840px) {
    
    .body{
        grid-template-rows: repeat(7, auto);
    }
    
/*///// MENU /////*/

.nav {
    grid-column-end: span 11;
}

    /*///// TITRE /////*/

.title{
    grid-row-start: 2;
    grid-column-end: span 12;
    text-align: center;
}

    /*///// ACCUEIL /////*/

    .header{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-end: span 11;
    } 
    
    .hello{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: span 5;
    }
    
    .claim{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: span 11;
    }
    
    .hobbies{
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: span 11;
    }
    
    .profil-pix-bloc{
        grid-row-start: 3;
        grid-column-start: 6;
        grid-column-end: span 6;
    }
    
    .profil-pix{
        width: 100%!important;
        height: 100%!important;
    }
    
    .surprise{
        grid-row-start: 6;
        grid-column-start: 1;
        grid-column-end: span 11;
    }
    
    /*///// BLOCS PHOTOS PROJETS ////*/
.grid-projet{
    display: inline-grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 28rem));
    margin: auto;
    grid-column: 1/12;
}

.bloc-pix-projet{
    grid-column-end: span 2;
    height: 16rem;
}

/*///// SEARCH BAR /////*/

.search{
    grid-row-start: 3;
    grid-column-end: span 11;
}

/*///// CONTACT ////*/

.bloc-contact{
    height: 10rem;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
}

.phone{
    grid-row-start: 3;
    grid-column-end: span 12;
}

.mail{
    grid-row-start: 4;
    grid-column-end: span 12;
}

.networks{
    grid-row-start: 5;
    grid-column-end: span 12;
}

    /*///// FOOTER /////*/

    .footer{
    grid-row-start: 7;
    grid-column-end: span 11;
}

.footer-contact{
    grid-row-start:12!important;
    grid-column-start: 1;
    grid-column-end : 12;
}
}