body {
    background: url("../img/thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Raleway;
}

.flex {
    display: flex;
}



/*////////////// POLICES //////////////*/


h1,
h2,
nav {
    font-family: Kurale;
}



/*////////////// COULEURS //////////////*/


.bg-sapin {
    background: rgba(47, 79, 79, 0.8);
}

.bg-bleu {
    background-color: rgba(33, 150, 146, 0.5);
}

.bg-violet {
    background-color: rgba(150, 10, 244, 0.5);
}

.bg-vert {
    background-color: rgba(52, 161, 22, 0.5);
}

.bg-gris {
    background-color: rgba(53, 53, 53, 0.5);
}


/*////////////// MENU //////////////*/


.nav ul {
    justify-content: flex-end;
}

.nav ul li {
    list-style: none;
    padding-right: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
    padding-bottom: 0.5rem;
}

.nav a:hover {
    border-bottom: 2px rgb(52, 161, 22) solid;
}




/*////////////// BLOC PROJETS //////////////*/

.bloc-pix-projet {
    border: 5px ridge rgb(187, 180, 180);
    position: relative;
}

figcaption {
    transition: all 1s;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.795);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1.8rem;
}

figure:hover figcaption,
figure:hover .figcaption-contact {
    opacity: 1;
}

/*////////////// FOOTER //////////////*/

.footer {
    justify-content: flex-end;
    font-weight: 700;
}

.pix-networks {
    width: 2rem;
    height: 2.5rem;
}

.git,
.linkedin {
    padding-right: 3rem;
    align-items: center;
}

/*////////////// SEARCH BAR //////////////*/

.search-bloc {
    padding: 10px 0px;
}

.input-search {
    margin-left: 2rem;
}

.icone-search {
    width: 30px;
    height: 30px;
}

.techno-list {
    flex-direction: column;
}

/*////////////// PHOTOS //////////////*/

.profil-pix {
    width: 28rem;
    height: 32.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projet-pix {
    width: 100%;
    height: 100%;
}

.pix-projet-details-main {
    width: 36rem;
}

.pix-projet-details {
    width: 17rem;
}

@media screen and (max-width: 840px) {
    .pix-projet-details-main {
        width: 24rem;
    }

    .pix-projet-details {
        width: 11rem;
    }
}

/*////////////// CONTACT //////////////*/

.figcaption-contact {
    opacity: 1;
    text-align: center;
    font-size: 1.8rem;
    background-color: transparent;
    position: relative;
}

.contact-pix {
    width: 4rem;
    height: 3rem;
}

/*////////////// SEARCH BAR //////////////

.input-search:focus {
    outline: none;
}

.search-bloc {
    border-top: 3px rgba(150, 10, 244) double;
    justify-content: center;
    border-bottom: 3px rgba(150, 10, 244) double;
    justify-content: center;
    padding: 20px 0px;
    margin: 0 60px;
}

.input-search {
    width: 50%;
    color: black;
    background-color: transparent;
    font-style: italic;
    border: none;
    padding: 0 10px;
}

.icone-search {
    width: 30px;
    height: 30px;
}
*/
