body {
    background: url("../img/thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Raleway;
}

.flex {
    display: flex;
}


/*////////////// POLICES //////////////*/


h1,
h2,
nav {
    font-family: Kurale;
}



/*////////////// COULEURS //////////////*/


.bg-sapin {
    background: rgba(47, 79, 79, 0.8);
}

.bg-bleu {
    background-color: rgba(33, 150, 146, 0.5);
}

.bg-violet {
    background-color: rgba(150, 10, 244, 0.5);
}

.bg-vert {
    background-color: rgba(52, 161, 22, 0.5);
}

.bg-gris {
    background-color: rgba(53, 53, 53, 0.5);
}


/*////////////// MENU //////////////*/


.nav {
    grid-row-start: 1;
    grid-column-end: span 12;
}

.nav ul {
    justify-content: flex-end;
}

.nav ul li {
    list-style: none;
    padding-right: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
    padding-bottom: 0.5rem;
}

.nav a:hover {
    border-bottom: 2px rgb(52, 161, 22) solid;
}


/*////////////// FOOTER //////////////*/

.footer {
    justify-content: flex-end;
    font-weight: 700;
}

.pix-networks {
    width: 2rem;
    height: 2.5rem;
}

.git,
.linkedin {
    padding-right: 3rem;
    align-items: center;
}

/*////////////// SEARCH BAR //////////////*/

.input-search:focus {
    outline: none;
}

.search-bloc {
    border-top: 3px rgba(150, 10, 244) double;
    justify-content: center;
    border-bottom: 3px rgba(150, 10, 244) double;
    justify-content: center;
    padding: 20px 0px;
    margin: 0 60px;
}

.input-search {
    width: 50%;
    color: black;
    background-color: transparent;
    font-style: italic;
    border: none;
    padding: 0 10px;
}

.icone-search {
    width: 30px;
    height: 30px;
}
